<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">&copy; Adventure Point 2021</span> <br>
        <span class="text-muted">Baseado no projeto YelpCamp UdemyWebDev</span>
    </div>
</footer>