<% layout('layouts/boilerplate') %>

<h1>Insira as informações do novo campo</h1>
<form action="/campgrounds" method="POST">
    <div>
        <label for="title">Insira o Título</label>
        <input type="text" id="title" name="campground[title]">
    </div>
    <div>
        <label for="location">Insira o Local</label>
        <input type="text" id="location" name="campground[location]">
    </div>
    <button>Adicionar</button>
</form>
<a href="/campgrounds">Todos os campos</a>